html {
    font-family: 'VT323', monospace;
    color: #b4d7ff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px gray;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b4d7ff;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 45vw;
    border-left: 3px dashed #b4d7ff;
    border-right: 3px dashed #b4d7ff;
    box-shadow: 0px 0px 3px 5px white;
}

.paint-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 72px;
    padding-top: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 41vw;
    height: 41vw;
    border: 3px solid #ebebeb;
    margin: 20px;
}

.new-grid {
    font-family: 'VT323', monospace;
    font-size: 32px;
    color: #ebebeb;
    background-color: #ff9a9a;
    border: 3px dashed #ff8383;
    border-radius: 15px;
    width: 280px;
    padding: 6px;
    transition: .2s;
}

.new-grid:hover {
    color: white;
    background-color: #ff8888;
    border-color: #ff6767;
}

.new-grid:active {
    background-color: #ff5252;
    border-color: white;
    box-shadow: 0px 0px 0px 1px #ff5252;
}

.options-page {
    display: flex;
    flex-direction: column;
}

h2 {
    align-self: center;
    font-size: 60px;
    padding: 10px;
}

.option {
    display: flex;
}

.option.color-schemes {
    display: flex;
    flex-direction: column;
}

.color-schemes-container {
    display: flex;
    gap: 25px;
}

.color-scheme-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 2px #ebebeb;
    border-radius: 10px;
    width: 120px;
    padding: 5px;
}

.preview {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    white-space: pre;
}

.preview.dark {
    background-color: #464646;
}

.preview.light {
    background-color: #ebebeb;
}

.preview.blue {
    background-color: #b4d7ff;
}

.preview.pink {
    background-color: #ff9a9a;
}

.preview.reactive {
    background-color: #b4d7ff;
}

.color-scheme-name {
    font-size: 32px;
}

p.option-label {
    font-size: 48px;
    padding: 5px;
}